.fa-brands {
  height: 30px;
  width: 30px;
}

.card {
  min-height: 470px !important;
  margin-top: 20px;
  margin-bottom: 20px;
}

/************* SAVANNAH *************/

.sav {
  align-items: center;
  height: 470px;
  position: relative;

  .fa-brands {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 5px;
  }
}

.card-img-overlay {
  margin: 0 !important;
  position: absolute !important;
  top: 50% !important;
  -ms-transform: translateY(-50%) !important;
  transform: translateY(-50%) !important;
}

.savannah {
  height: 100px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.blur {
  min-height: 470px;
}

/************* LANDON *************/
.landon {
  .fa-brands {
    border: 1px solid rgb(145, 205, 55);
    border-radius: 50%;
    padding: 6px;
  }
}
.landon-img {
  height: 100px;
  border-radius: 50%;
  border: 2px solid #fff;
  position: relative;
  top: -75px;
}

.landon-text {
  color: rgb(145, 205, 55);
}

.landon-desc {
  position: relative;
  top: -60px;
  height: 100px;
}

/************* JUSTIN *************/
.justin {
  background-color: rgb(232, 232, 232);

  .fa-brands {
    border: 1px solid black;
    border-radius: 50%;
    padding: 6px;
  }
}

.justin-img {
  height: 100px;
  border-radius: 50%;
  border: 2px solid #fff;
  position: relative;
  top: -75px;
}

.justin-desc {
  position: relative;
  top: -60px;
  height: 100px;
}

/************* GAIL *************/

.gail {
  .card-title {
    color: rgb(255, 87, 241);
  }

  .fa-brands {
    color: rgb(255, 87, 241);
    border: 1px solid rgb(255, 87, 241);
    border-radius: 50%;
    padding: 5px;
  }
}

.gail-img {
  height: 100px;
  border-radius: 50%;
  border: 2px solid #fff;
  position: relative;
  top: -75px;
}

.gail-desc {
  position: relative;
  top: -60px;
  height: 100px;
}

/************* FLORENCE *************/
.flo {
  .card-title {
    color: rgb(34, 88, 34);
  }

  .card-body {
    height: 240px;
  }
}

.btn {
  background-color: rgb(34, 88, 34);
}
